html,body{
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

/*---------------- Global Classes --------------*/

a{
    text-decoration: none;
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul{
    list-style-type: none;
}

/*--------X------- Global Classes -------X------*/





/*----------------- navbar ------------------*/

.nav{
    background: write;
    padding: 0 2rem;
    height: 0rem;
    min-height: 40vh;
    overflow: hidden;
}

/* แบ่งเป้นสามกลุ่ม  */
.nav .nav-menu{
    justify-content: space-between;
}

/* จัดระเบียบลิงค์กึ่งกลาง */
.nav .nav-items{
    display: flex;
    margin: 0;
}

.nav .nav-items .nav-link{
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
}

.nav .nav-brand a{
    font-size: 1.6rem;
    padding: 1rem 0;
    
}
/*------X---------- navbar -------x----------*/